# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [8]:
a=1000
b=200
print("hello world",100,a>b,25.5)

hello world 100 True 25.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [1]:
a=100
b=50
print("hello world",100,a<b,23.5,sep ='-')

hello world-100-False-23.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [2]:
print("hello world", end =' ')
print(100, end =' ')
print(2==2,end =' ')
print(3.4)

hello world 100 True 3.4

4) Can a python print function take no value to print???

Answer) A python print function can takes a value to print.

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [6]:
friend_name="Mr.Ahmed"
age=30
profession="Lawer"
Education="bachelors in law"
gratuation_year=2005
firm_name="the himalya Associates"
firm_city="karachi"
since=2015
height_in_ft=5.10
weight_in_g=70600
monthly_income_pkr=200

print(friend_name)
print(age)
print(profession)
print(Education)
print(year_of_degree)
print(firm_name)
print(since)
print(height_in_ft,"feets")
print(weight_in_g,"g")
print(monthly_income_pkr,"k PKR")

Mr.Ahmed
30
Lawer
bachelors in law
2005
the himalya Associates
2015
5.1 feets
70600 g
200 k PKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [45]:
present_year=2022
passout_year=2005

present_year-passout_year

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [46]:
starting_year=2015
present_year=2022

present_year-starting_year

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [39]:
#monthly income
monthly_income=200000
current_dollar_rate=207.59
monthly_income/current_dollar_rate

963.437545161135

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [2]:
#PKR =200
#dollar=946.94
#print(type(dollar)

monthly_income=200000
current_dollar_rate=207.59
int_value=monthly_income/current_dollar_rate
convert_int=int(int_value)
print(monthly_income/current_dollar_rate)
print(int(int_value))

963.437545161135
963

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [32]:
print(type(weight))
70600//1000

<class 'int'>

70

11) print the year of birth of Mr. Ahmed.

In [8]:
print(2022-30)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [7]:
print(100%6)

4

Rs can not be divided eqully among 6 students